<div class="row" *ngIf="showMedicos">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Médicos <small>
                            ({{totalMedicos}})</small></h3>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Médico</th>
                                <th class="text-center">Cédula</th>
                                <th class="text-center">Foto</th>
                                <th class="text-center">Opcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos;">
                                <td class="text-center">{{medico.nombres}}</td>
                                <td class="text-center">{{medico.cedula}}</td>
                                <td class="text-center">
                                    <img [src]="medico.foto | imagen:'medico'" class="img-circle img-50">
                                </td>
                                <td class="text-center">
                                    <button (click)="cargarCitasMedicoSeleccionado(medico)" class="btn btn-info">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        Ver citas de Hoy
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button (click)="cambiarDesdeMedicos(-5)" class="btn btn-secondary mr-1">Anteriores</button>
                    <button (click)="cambiarDesdeMedicos(5)" class="btn btn-secondary">Siguientes</button>
                </div>
            </div>
        </div>
    </div>

<button (click)="mostrarMedicosNuevamente()" *ngIf="esAdmin && !showMedicos" class="btn btn-primary m-2">Mostrar Médicos</button>

<div class="row" *ngIf="!showMedicos && citas?.length > 0 ">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2>Citas</h2>
                    <h3 class="card-title">Citas (<small> {{totalCitas}} </small>)</h3>
                    <div class="profiletimeline"  *ngIf="esUser">
                        <div *ngFor="let cita of citas;">
                                <div class="sl-item" >
                                        <div class="sl-left"> <img [src]="cita.medico.foto | imagen : tipoFoto" alt="user" class="img-circle" /> </div>
                                                <div class="sl-right">
                                                        <div><a href="#" class="link"><b>{{cita.medico.nombres}} </b></a> <span class="sl-date"> - {{cita.fecha}}</span>
                                                        <p> Hora {{cita.hora}} </p>
                                                        <div class="row">
                                                                <div class="col-lg-3 col-md-6 m-b-20">
                                                                        <b>Valor de la consulta: </b> $ {{cita.precioConsulta}}
                                                                </div>
                                                                <div class="col-lg-3 col-md-6 m-b-20">
                                                                        <b>Contacto: </b> {{cita.medico.telefono}}
                                                                </div>
                                                                <div class="col-lg-3 col-md-6 m-b-20">
                                                                        <b>Correo:  </b>{{cita.medico.correo}}
                                                                </div>
                                                        </div>
                                                        </div>
                                                </div>

                                                <hr>
                                        </div>
                        </div>
                </div>
                <div class="profiletimeline" *ngIf="esMed">
                  <div *ngFor="let cita of citas;">
                          <div class="sl-item" >
                                  <div class="sl-left"> <img [src]="cita.paciente.foto | imagen : tipoFoto" alt="user" class="img-circle" /> </div>
                                          <div class="sl-right">
                                                  <div><a href="#" class="link"><b>{{cita.paciente.nombres}} </b></a> <span class="sl-date"> - {{cita.fecha}}</span>
                                                  <p> Hora {{cita.hora}} </p>
                                                  <div class="row">
                                                          <div class="col-lg-3 col-md-6 m-b-20">
                                                                  <b>Valor de la consulta: </b> $ {{cita.precioConsulta}}
                                                          </div>
                                                          <div class="col-lg-3 col-md-6 m-b-20">
                                                                  <b>Contacto: </b> {{cita.paciente.telefono}}
                                                          </div>
                                                          <div class="col-lg-3 col-md-6 m-b-20">
                                                                  <b>Correo:  </b>{{cita.paciente.correo}}
                                                          </div>
                                                          <td *ngIf="esMed" class="text-center">
                                                            <button (click)="atenderCita(cita)" class="btn btn-primary m-2"> Atender </button>
                                                            <button (click)="noAsistioPaciente(cita)" class="btn btn-danger"> No llego </button>
                                                        </td>
                                                  </div>
                                                  </div>
                                          </div>

                                          <hr>
                                  </div>
                  </div>
                  </div>
                </div>
            </div>
        </div>
</div>

<div *ngIf="citas  && citas.length === 0" class="alert alert-primary">
    <strong>No tiene citas por el momento</strong>
</div>

