<div class="row" *ngIf="mostrarCitas">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2>Citas Realizadas</h2>
        <h3 class="card-title">Citas (<small> {{totalCitas}}</small>)</h3>

        <div class="profiletimeline" *ngIf="esUser">
          <div *ngFor="let cita of citas;">
            <div class="sl-item">
              <div class="sl-left"> <img [src]="cita.medico.foto | imagen : tipoFoto" alt="user" class="img-circle" />
              </div>
              <div class="sl-right">
                <div><a href="#" class="link"><b>{{cita.medico.nombres}} </b></a> <span class="sl-date"> -
                    {{cita.fecha}}</span>
                  <p> Hora {{cita.hora}} </p>
                  <div class="row">
                    <div class="col-lg-3 col-md-6 m-b-20">
                      <b>Valor de la consulta: </b> $ {{cita.precioConsulta}}
                    </div>
                    <div class="col-lg-3 col-md-6 m-b-20">
                      <b>Contacto: </b> {{cita.medico.telefono}}
                    </div>
                    <div class="col-lg-3 col-md-6 m-b-20">
                      <b>Correo: </b>{{cita.medico.correo}}
                    </div>
                    <div class="col-lg-3 col-md-6 m-b-20">
                      <button (click)="verDetallesCitaUser(cita)" class="btn btn-primary">
                        <i class="fa fa-eye" aria-hidden="true"></i> Ver Detalles
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <hr>
            </div>
          </div>
        </div>
        <div class="profiletimeline" *ngIf="esMed">
          <div *ngFor="let cita of citas;">
            <div class="sl-item">
              <div class="sl-left"> <img [src]="cita.paciente.foto | imagen : tipoFoto" alt="user" class="img-circle" />
              </div>
              <div class="sl-right">
                <div><a href="#" class="link"><b>{{cita.paciente.nombres}} </b></a> <span class="sl-date"> -
                    {{cita.fecha}}</span>
                  <p> Hora {{cita.hora}} </p>
                  <div class="row">
                    <div class="col-lg-3 col-md-6 m-b-20">
                      <b>Valor de la consulta: </b> $ {{cita.precioConsulta}}
                    </div>
                    <div class="col-lg-3 col-md-6 m-b-20">
                      <b>Contacto: </b> {{cita.paciente.telefono}}
                    </div>
                    <div class="col-lg-3 col-md-6 m-b-20">
                      <b>Correo: </b>{{cita.paciente.correo}}
                    </div>
                    <div class="col-lg-3 col-md-6 m-b-20">
                      <button (click)="verDetallesCitaMed(cita)" class="btn btn-primary">
                        <i class="fa fa-eye" aria-hidden="true"></i> Ver Detalles
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary mb-2" *ngIf="mostrarDetallesMed || mostrarDetallesUser" (click)="verCitasNuevamente()">
  Ver Citas Realizadas Nuevamente</button>

<div class="row" *ngIf="mostrarDetallesMed">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="login-box card">
          <div class="card-title ml-2">
            <h3>Detalles de la Cita con su respectiva Consulta</h3>
          </div>
          <div class="row ml-2">
            <strong>Paciente:</strong> &nbsp; {{ currentPaciente.nombres }}
          </div>
          <div class="row ml-2">
            <strong>Correo electrónico:</strong> &nbsp; {{ currentPaciente.correo }}
          </div>
          <div class="row ml-2">
            <strong>Teléfono:</strong> &nbsp; {{ currentPaciente.telefono }}
          </div>
          <div class="row ml-2">
            <strong>Dirección:</strong> &nbsp; {{ currentPaciente.direccion }}
          </div>
          <div class="row ml-2">
            <strong>Genero:</strong> &nbsp; {{ currentPaciente.genero ? "MASCULINO" : "FEMENINO" }}
          </div>

          <div class="row ml-2">
            <strong>Fecha:</strong> &nbsp; {{ currentCita.fecha }}
          </div>
          <div class="row ml-2">
            <strong>Hora:</strong> &nbsp; {{ currentCita.hora }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Mostrar Detalles User -->
<div class="row" *ngIf="mostrarDetallesUser">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="login-box card">
          <div class="card-title ml-2">
            <h3>Detalles de la Cita con su respectiva Consulta</h3>
          </div>

          <div class="row ml-2">
            <strong>Médico:</strong> &nbsp; {{ currentMedico.nombres }}
          </div>
          <div class="row ml-2">
            <strong>Cedula:</strong> &nbsp; {{ currentMedico.cedula }}
          </div>
          <div class="row ml-2">
            <strong>Correo electrónico:</strong> &nbsp; {{ currentMedico.correo }}
          </div>
          <div class="row ml-2">
            <strong>Teléfono:</strong> &nbsp; {{ currentMedico.telefono }}
          </div>
          <div class="row ml-2">
            <strong>Dirección:</strong> &nbsp; {{ currentMedico.direccion }}
          </div>
          <div class="row ml-2">
            <strong>Genero:</strong> &nbsp; {{ currentMedico.genero ? "MASCULINO" : "FEMENINO" }}
          </div>

          <div class="row ml-2">
            <strong>Fecha:</strong> &nbsp; {{ currentCita.fecha }}
          </div>
          <div class="row ml-2">
            <strong>Hora:</strong> &nbsp; {{ currentCita.hora }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
